h1, .btn-img, .reset{
    text-align: center;
}

.hidden {
    display: none;
}

.porotop, .porobottom{
    height: 30%;
}

.dark-mode{
    background-color: #262626;
    color: white;
}

button{
    border-radius: 12px;
    box-shadow: 1px 1px;
}