h1, .btn-img, #name-form, .buttons{
    text-align: center;
}

.hidden {
    display: none;
}

.poro{
    height: 500px;
}

.light-mode{
    background-color: #80add7;
    color: #334556
}

button{
    border-radius: 12px;
    box-shadow: 1px 1px;
}

.title{
    font-size: 70px;
    padding: 0px;
    margin-bottom: 0;
}